
@using DEWAXP.Feature.CommonComponents.Models.RenderingParameters
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model DEWAXP.Feature.CommonComponents.Models.Renderings.J160ListContainer


<div class="j160-customer-results" data-journey="j160-customer-results">
    <div class="grid__row">
        @if (Model != null && Model.Items != null && Model.Items.Count() > 0)
        {
            foreach (var item in Model.Items)
            {
                <div class="grid__column grid__column--6">
                    <!-- m7-teaser-start -->
                    <div class="m7-teaser m7-teaser-withlogo radius-10 clearfix">
                        <div class="m7-teaser__image">
                            <a href="#">
                                @if (item.CompanyLogo != null && !string.IsNullOrWhiteSpace(item.CompanyLogo.Src))
                                {
                                    <img class="m7-teaser__image-item tooltipstered" src="@(item.CompanyLogo.Src)" alt="@item.Title">
                                }
                            </a>
                        </div>
                        <div class="m7-teaser__content">
                            <h3 class="teaser__title m7-teaser_large_number">@item.Percentage</h3>
                            <div class="m7-teaser__content-vertical">
                                <p class="m7-teaser__copy teaser__copy">
                                    @Html.Raw(item.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- m7-teaser-end -->
                </div>
            }

        }
    </div>
</div>