@using Glass.Mapper.Sc.Web.Mvc
@using System.Globalization
@using DEWAXP.Feature.CommonComponents.Models.Renderings
@using Sitecore.Data.Items
@using Sitecore.Globalization
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M109MiniTeaser


@if (Model != null)
{
    if (!string.IsNullOrWhiteSpace(Model.TeaserHeader) || !string.IsNullOrWhiteSpace(Model.TeaserSubHeader))
    {
        @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", new SectionTitle()
                {
                Header = Model.TeaserHeader,
                Description = Model.TeaserSubHeader
                })
    }
    if (Model.Children != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                @foreach (var item in Model.Children)
                {
                    <div class="m109-mini-teaser">
                        @if (item.TeaserLink != null && !string.IsNullOrWhiteSpace(item.TeaserLink.Url))
                        {
                            using (Html.Glass().BeginRenderLink(item, x => x.TeaserLink, new { @class = "m109-mini-teaser--inner" }))
                            {
                                <div class="m109-mini-teaser--icon icon-@item.IconType"></div>
                                <div class="m109-mini-teaser--title">
                                    @Html.Glass().Editable(item, x => x.TeaserTitle)
                                </div>
                            }

                        }
                        else
                        {
                            <div class="m109-mini-teaser--inner">
                                <div class="m109-mini-teaser--icon icon-@item.IconType"></div>
                                <div class="m109-mini-teaser--title">
                                    @Html.Glass().Editable(item, x => x.TeaserTitle)
                                </div>
                            </div>
                        }


                    </div>
                }
            </div>
        </div>
    }

}
