@using Sitecore.Globalization
@using Sitecore.Links
@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Managers
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M6TeaserSet

@if (Model != null && Model.Children.Any())
{
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m1-teaser">
                @foreach (var teaser in Model.Children)
                {
                    if (teaser != null)
                    {
                        <a href="@(teaser.Link!= null ?teaser.Link.Url: "#")" class="m1-teaser--card">
                            @if (!string.IsNullOrWhiteSpace(teaser.ClassName))
                            {
                                <div class="m1-teaser--count @teaser.ClassName"></div>
                            }
                            <div class="icon @teaser.Icontext"></div>
                            <div class="m1-teaser--text">
                                @teaser.Header
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
}

    <script type="text/javascript">
        docReady(function () {
            if (jQuery(".m79-dashboard-tools").data("details") != undefined) {
                jQuery(".user-reg-count").html(jQuery(".m79-dashboard-tools").data("details")[0].submitted);
                jQuery(".updated-profile-count").html(jQuery(".m79-dashboard-tools").data("details")[1].updated);
                jQuery(".rejected-count").html(jQuery(".m79-dashboard-tools").data("details")[2].rejected);
                jQuery(".equipment-count").html(jQuery(".m79-dashboard-tools").data("details")[3].equipment);
            }
            //equipment-count
        });
    </script>