@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M5Teaser

<div class="m5-teaser" data-component="m5-teaser">
	<a href="#">
		<div class="m5-teaser__content">
			<div class="m5-teaser__title"><h3>@Html.Glass().Editable(x => x.Header)</h3></div>
			<div class="m5-teaser__text"><p>@Html.Glass().Editable(x => x.Subheader)</p></div>
		</div>
	</a>
</div>