@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M6TeaserSet
@using Sitecore.Globalization
@using Sitecore.Links
@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@using DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers;


<div class="grid__column grid__column--4">
    @if (Model.Children.Any())
    {
        foreach (var teaser in Model.Children)
        {
            string clsName = "m6-teaser m6-teaser--dashboard2 teaser__link " + (string.IsNullOrEmpty(teaser.ClassName) ? string.Empty : teaser.ClassName);
            string style = teaser.HidebyDefault ? "display:none" : string.Empty;

            using (Html.Glass().BeginRenderLink(teaser, x => x.Link, new { @class = clsName, @style = style }))
            {
                <div class="m6-teaser__content icon @teaser.Icontext">
                    <h2 class="m6-teaser__title">@teaser.Header</h2>
                </div>

            }
        }
    }

</div>
