@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@using System.Globalization
@using DEWAXP.Foundation.Helpers
@using Sitecore.Data.Items
@using Sitecore.Globalization
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.CarouselSet

@if (Model != null)
{
    <div class="j140-conservation-combine">
        <div class="grid">
            @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", Model)
            @if (Model.Children != null)
            {
                <div class="grid__row">
                    @foreach (var item in Model.Children)
                    {
                        <div class="grid__column grid__column--3">
                            @if (item.ButtonLink != null)
                            {
                                using (Html.Glass().BeginRenderLink(item, x => x.ButtonLink, new { @class = "m6-teaser teaser__link" }))
                                {
                                    <div class="m6-teaser__content icon icon-b-@(item.TeaserIconName) ">
                                        <h2 class="m6-teaser__title">@Html.Glass().Editable(item, x => x.Header)</h2>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="m6-teaser teaser__link">
                                    <div class="m6-teaser__content icon icon-b-@(item.TeaserIconName) ">
                                        <h2 class="m6-teaser__title">@Html.Glass().Editable(item, x => x.Header)</h2>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                    <!--
                     <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-electric-appliance ">
                            <h2 class="m6-teaser__title">Electrical Appliances</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-lighting">
                            <h2 class="m6-teaser__title">Lighting</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-cooling">
                            <h2 class="m6-teaser__title">Cooling</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-water-appliance">
                            <h2 class="m6-teaser__title">Water Appliances</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-showers">
                            <h2 class="m6-teaser__title">Showers and Faucets</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-toilet">
                            <h2 class="m6-teaser__title">Toilet</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-irrigation">
                            <h2 class="m6-teaser__title">Irrigation</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-general-outdoor">
                            <h2 class="m6-teaser__title">General Outdoor</h2>
                        </div>
                    </a>
                </div>
                <div class="grid__column grid__column--3">
                    <a href="#" class="m6-teaser teaser__link ">
                        <div class="m6-teaser__content icon icon-b-energy-responsibility">
                            <h2 class="m6-teaser__title">Energy and Responsibility</h2>
                        </div>
                    </a>
                </div>
                -->

                </div>
            }

        </div>
    </div>

}