@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M7TeaserSet

@if (!string.IsNullOrWhiteSpace(Model.Header))
{
    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", Model)
}


@if (Model != null && Model.Children != null && Model.Children.Any())
{
    <div class="j69-dashboard2">
        <div class="grid__row xscroll">
            <div class="grid__scroll">
                @foreach (var teaser in Model.Children)
                {
                    <div class="grid__column grid__column--3">
                        @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Teasers/M83 Teaser.cshtml", teaser)
                    </div>
                }
            </div>
        </div>
    </div>
}
