@using Sitecore.Globalization
@using DEWAXP.Foundation.Content.Repositories
@model System.Collections.Generic.List<DEWAXP.Feature.CommonComponents.Models.Breadcrumbs.BreadCrumbItemViewModel>

@{
    var _cache = DependencyResolver.Current.GetService<ICacheProvider>();
    bool isnavhide = false;
    _cache.TryGet("HIDENAV", out isnavhide);
}
@if (!isnavhide)
{
    <div class="grid">
        <div class="grid__row">
            <ul class="inner-breadcrumb">
                @foreach (var item in Model)
                {
                    if (item.IsCurrent)
                    {
                        <li><span class="button button--breadcrumb button--breadcrumbdot">@item.Text</span></li>
                    }
                    else
                    {
                        <li> <a href="@item.Url" class="button button--breadcrumb button--breadcrumbdot">@item.Text</a></li>
                    }

                }
            </ul>
        </div>
    </div>
}