@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Foundation.Content.Models.Payment.PaymentRedirectModel
<!--~/Payment/PaymentRedirect-->
<div class="m66-preloader">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <h2 class="text__section-subtitle"> @Translate.Text("RedirectingToPayment")</h2>
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal" id="myForm" method="POST" action="@Model.EPayUrl">
    @Html.AntiForgeryToken()
    @foreach (var property in Model.GetType().GetProperties())
    {
        if (property.Name != "EPayUrl")
        {
            var value = property.GetValue(Model);
            if (value != null && value.ToString() != "")
            {
                @Html.Hidden(property.Name)
            }
        }
    }
</form>
<script>
    window.onload = function () {
        document.getElementById("myForm").submit();
    }
</script>
<!--~/Payment/PaymentRedirect-->