@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
<div class="grid__row">
    <div class="grid__row ">
        <div class="grid__column grid__column--12" id="main-skip">
            <div class="m26-page-title title_message">
                <h2 class="text__page-title">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form centered">
        <div class="m40-status-message m40-status-message--success  icon icon-new-success-message  " data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("Submission Successful")</div>
            <div class="m40-status-message__text">@Translate.Text("SurveySubmittedSuccessfully")</div>
            <a class="button button--primary mt12" data-close="true" href="/">@Translate.Text("Done")</a>
        </div>
    </div>
</div>