<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <!--
        Thread pool limits should be configured in machine config, however an access to machine config is not provided in cloud.
        Thereby API-based approach must be taken.
        -->
        <processor type="DEWAXP.Foundation.Content.Pipeline.ConfigureThreadPool, DEWAXP.Foundation.Content" resolve="true">
          <MaxWorkerThreadsPerCore>20</MaxWorkerThreadsPerCore>
          <MaxCompletionPortThreadsPerCore>20</MaxCompletionPortThreadsPerCore>
          <MinWorkerThreadsPerCore>2</MinWorkerThreadsPerCore>
          <MinCompletionPortThreadsPerCore>5</MinCompletionPortThreadsPerCore>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>