<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <events timingLevel="custom">
        <event name="item:added">
          <handler type="DEWAXP.Foundation.Content.Events.ItemEventHandler, DEWAXP.Foundation.Content" method="HandleItemName"/>
        </event>
        <event name="item:renamed">
          <handler type="DEWAXP.Foundation.Content.Events.ItemEventHandler, DEWAXP.Foundation.Content" method="HandleItemName"/>
        </event>
      </events>
      <customHandlers>
        <handler trigger="~/account_thumbs/" handler="account_thumbs.ashx" />
        <handler trigger="~/profile_thumbs/" handler="profile_thumbs.ashx" />
      </customHandlers>
      <pipelines>
        <initialize>
          <processor type="DEWAXP.Foundation.Content.RegisterFeatureRoute, DEWAXP.Foundation.Content" patch:after="*[@type='Sitecore.Mvc.Pipelines.Initialize.InitializeCommandRoute, Sitecore.Speak.Client']" />
          <processor type="DEWAXP.Foundation.Content.Pipeline.RegisterPlatformBundles, DEWAXP.Foundation.Content" patch:after="*[@type='Sitecore.Mvc.Pipelines.Initialize.InitializeCommandRoute, Sitecore.Speak.Client']" />
        </initialize>
        <httpRequestBegin>
          <processor type="DEWAXP.Foundation.Content.Pipeline.SessionForWebApi, DEWAXP.Foundation.Content" patch:before="*[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
					 <processor type="DEWAXP.Foundation.Content.Pipeline.OutageRedirectHandler, DEWAXP.Foundation.Content" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
        <processor type="DEWAXP.Foundation.Content.Pipeline.WebserviceOutageRedirectHandler, DEWAXP.Foundation.Content" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
          <processor type="DEWAXP.Foundation.Content.Pipelines.RedirectionLink, DEWAXP.Foundation.Content" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
          <processor type="DEWAXP.Foundation.Content.Pipelines.CookieRequestHandler, DEWAXP.Foundation.Content" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
        </httpRequestBegin>
      </pipelines>
    </sitecore>
</configuration>