@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Header.Masthead

@if (Model != null)
{

<header class="m12-masthead theme--a" data-component="m12-masthead" data-theme="a">
    <div class="m12-main" data-m12-main="true">
        <div class="m12-main__content">
            <!-- start logos -->
            <div class="m12-main__logos">

                <div class="m12-logo m12-logo--dewa">
                    @using (Html.Glass().BeginRenderLink(Model, x => x.Header.DewaLink))
                    {
                        @Html.Glass().RenderImage(Model, x => x.Header.DewaImage, new { @class = "m12-logo-image--dewa" }, true, false)
                    }
                    @*<a href="http://www.dewa.gov.ae/default.aspx" target="_blank" class="tooltipstered"><img class="m12-logo-image--dewa tooltipstered" src="../../images/dewa_logo@2x.png" alt="Dubai Electricity and Water Authority"></a>*@
                </div>
            </div>
            <!-- end logos -->
        </div>
    </div>
    <div class="m12-main__navs" style="display:block; background-color: #007560;">
        <div class="m12-main__navs--inner">
            <ul class="m12-tools mt0" style="display:block;">
                <li class="m12-tools__item">
                    @Html.Action("Languages", "Renderings", new { tabindex = 3 })
                </li>
            </ul>
        </div>
    </div>
</header>
}