@using Sitecore.Globalization
@model DEWAXP.Foundation.Content.Models.UpdateIBAN.UpdateIBANModel
    
@if(Model != null && Model.Successful )
{
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title">@Translate.Text("ibanupdate.successheader")</div>
                <div class="m40-status-message__text">@Model.Successfulmessage</div>
            </div>
        </div>
    </div>
}