@model DEWAXP.Feature.CommonComponents.Models.Renderings.SocialMediaFeedSet
@if (Model.Children != null)
{
    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", Model)

    <div class="grid__row">
        @foreach (var socialFeed in Model.Children)
        {
            <div class="grid__column grid__column--3">
                @Html.Partial("~/Views/Feature/CommonComponents/Renderings/M15 Social Media Feed.cshtml", socialFeed)
            </div>
        }
    </div>

    <script src="~/Scripts/External/nml/youtube.js"></script>
}