@model DEWAXP.Feature.CommonComponents.Models.Renderings.SocialMediaConfigModel
<br style="clear: all"></br>
<div class="grid__row">
    <div class="grid__column grid__column--6">
        <div class="m15-social-media-feed" data-component="m15-social-media-feed">
            <div class="m15-social-media-feed__content">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=@Model.YoutubeAccountName" title="" width="450" height="350"></iframe>
            </div>
        </div>
    </div>
</div>
<div style="clear: all"></div>
