@using Sitecore.Mvc
@{
    var genericBox = Html.Sitecore().CurrentRendering.Parameters["genericbox"] != null ? true : false;
}
<div class="@(genericBox ? "box--news box--service" : "box--news")">
    @Html.Sitecore().Placeholder("box--news--container")
</div>
