@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!--start col8x4.cshtml-->
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--8">
            @Html.Sitecore().Placeholder("grid/col-8")
        </div>
        <div class="grid__column grid__column--4">
            @Html.Sitecore().Placeholder("grid/col-4")
        </div>
    </div>
</div>
<!--end col8x4.cshtml-->