@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    string extragridcssClass = "";
    string id = "";
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        if(parms!=null && parms.Count()>0)
        {
            extragridcssClass = parms["extragridcssClass"] != null ? parms["extragridcssClass"] :string.Empty;
            id = parms["id"]!=null? parms["id"]:string.Empty;
        }
    }
}
<div class="grid__row @Html.Raw(extragridcssClass)">
        @if (!string.IsNullOrWhiteSpace(id))
        {
            @Html.Sitecore().Placeholder(id)
        }
        else
        {
            @Html.Sitecore().Placeholder("col-12/content")
        }
</div>