/**
 * Copyright Avaya Inc.
 * All rights reserved. Usage of this source is bound to the terms described in
 * the file Avaya SDK EULA.pdf, included in this SDK.
 * Avaya â€“ Confidential & Proprietary. Use pursuant to your signed agreement or Avaya Policy.
 */
/* css for 'floating' webrtc video caller UI element */

.mdl-menu__container.is-upgraded {
    display: none;
}

#webrtc_video_container {
    display: none;
    font-size: 16px;
    line-height: 1.428571429;
}

.webrtc_float {
    position: absolute;
    z-index: 100;
    position: absolute;
    z-index: 1001;
    left: 0 !important;
    right: 0 !important;
    top: 58px !important;
    bottom: 0px;
}

#webrtc_draggable_video {
    position: relative;
    border: 0px;
}

#webrtc_header {
    background-color: #087B36;
    height: 60px;
    color: white;
    display: none;
}

.webrtc_header-content {
    margin: 7px;
    padding-top: 20px;
    text-align: center;
}

#webrtc_video_status {
    margin-left: 10px;
    float: left;
}

#webrtc_video_duration {
    float: right;
    margin-right: 10px;
}

#webrtc_call_quality {
    float: right;
    margin-right: 10px;
}

.webrtc_video {
    background-color: black;
    height: 400px;
    border: 0px;
    position: relative;
}

.webrtc_mainimg {
    height: 80%;
    position: absolute;
    top: calc((20% - 38px)/2);
    width: 100%;
}

.webrtc_secondimg {
    float: right;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 200px;
    height: 100px;
    z-index: 3;
}

.webrtc_avayaWaterMark {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    margin-bottom: 1px;
}

.webrtc_avayaWaterMarkImg {
    width: 70px;
    opacity: 0.6;
}

.webrtc_videobutton {
    cursor: pointer;
}

.webrtc_videobutton img{
    height: 40px;
    padding-top: 8px;
}

.webrtc_videobutton span{
    margin-left: 10px;
    margin-right: 10px;
}

#webrtc_footer {
    position: absolute;
    background-color: #fff;
    height: 60px;
    width: 100%;
    color: white;
    bottom: 8px;
}

.webrtc_footer-content {
    padding: 4px;
    text-align: center;
}

.webrtc_footer-icon {
    margin-left: 10px;
    margin-right: 10px;
}

/* DTMF keypad voice */
.dtmf-wrapper{
    width:200px;
    height:200px;
    position:absolute;
    text-align:center;
    margin-top: 5px;
}

/* DTMF keypad */
.dtmf-wrapper-video{
    width:200px;
    height:200px;
    position:absolute;
    text-align:center;
    margin-top: 5px;
    bottom: 50px;
}


.dtmf-interface{
    display: none;
    width:170px;
    margin:0;
    padding:0;
    overflow:hidden;
}

.dtmf-interface li{
    color: white;
    background-color: #293b47;
    float:left;
    margin:1.5px;
    list-style:none;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    font-size: 16px;
    border: solid 1px #333;
    border-radius:3px;
    padding:10px;
    transition: all 0.5s;
}

.dtmf-interface li:hover{
    color: #3CD9FD;
    border-color:#3CD9FD;
    transition-duration:0s;
    cursor:pointer;
}

.dtmf-interface li:active{
    color: red;
    border-color: red;
    transition-duration:0s;
}
/* css helper classes */

.webrtc_remove-all-margin-padding {
    margin: 0 ! important;
    padding: 0 ! important;
}
/* color classes */

.webrtc-red {
    color: red;
}

.webrtc-yellow {
    color: yellow;
}

.webrtc-green {
    color: forestgreen;
}

.webrtc-silver {
    color: silver;
}

.webrtc-white {
    color: white;
}
#webrtc_voice_container {
    display: none;
    font-size: 16px;
    line-height: 1.428571429;
}



#webrtc_header_voice {
    background-color: #293b47;
    height: 60px;
    color: white;
}

.webrtc_voice_header-content {
    margin: 7px;
    padding: 4px;
    text-align: center;
}
.webrtc_voicebutton {
    cursor: pointer;
}



.webrtc_status_class{
    padding-top: 10px;
}

.webrtc_duration_class{
    margin-right: 10px;
    float: left;
    padding-top: 10px;
}
.voice_buttons {
    float: right;
}
