@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Configuration
@model DEWAXP.Feature.IdealHome.Models.IdealHome.Survey




<div class="grid">
    <div class="grid__row">


        <div class="grid__column grid__column--12 grid__column--form">

            @Html.AntiForgeryToken()

            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none" }))
            {

                <h1 style="font:xx-large">يرجى الانتظار ,ملف يتم تحميله....</h1>

            }

        </div>
    </div>
</div>

<a id="anchorID" href="" target="_self" ></a>


<script>

  

    var entity = "@Session["UserName"]";
    var link = document.getElementById("anchorID");


    if (entity == "dubaimunicipality")
    {
        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/dm.ashx");
        //location.assign("/ar-AE/~/media/ideal%20home/files/dm.ashx");
        //window.open("/~/media/ideal%20home/files/dm.ashx");
       
        //link.href = "/~/media/ideal%20home/files/dm.ashx";
        //link.click();
        
    }
    else if (entity == "dubaipolice") {

        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/dp.ashx");
        //link.href = "http://10.3.222.93/ar-ae/~/media/ideal%20home/files/dm.ashx";
        //link.click();

    }
    else if (entity == "ambulance") {
        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/amb.ashx");
       // location.assign("/~/media/ideal%20home/files/amb.ashx");
        //link.href = "/~/media/ideal%20home/files/amb.ashx";
        //link.click();

    }
    else if (entity == "civildefence") {

        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/cd.ashx");
        //link.href = "/~/media/ideal%20home/files/cd.ashx";
        //link.click();

    }
    else if (entity == "communitydevelopment") {

        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/cda.ashx");
        //location.assign("/~/media/ideal%20home/files/cda.ashx");
        //link.href = "/~/media/ideal%20home/files/cda.ashx";
        //link.click();

    }
    else if (entity == "dewa") {

        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/dewa.ashx");
        //location.assign("/~/media/ideal%20home/files/dewa.ashx");
        //link.href = "/~/media/ideal%20home/files/dewa.ashx";
        //link.click();

    }
    else if (entity == "dubaihealth") {

        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/dha.ashx");
        //location.assign("/~/media/ideal%20home/files/dha.ashx");
        //link.href = "/~/media/ideal%20home/files/dha.ashx";
        //link.click();

    }   
    else if (entity == "dubaismart") {

        location.assign("http://10.3.222.93/ar-ae/~/media/ideal%20home/files/dsg.ashx");
        //location.assign("/~/media/ideal%20home/files/dsg.ashx");
        //link.href = "/~/media/ideal%20home/files/dsg.ashx";
        //link.click();

    }

    setTimeout(redirect,500);

        function redirect()
        {
            window.location.href= "/customer/sustainability/awards-and-campaigns/ideal-home-external";
        }


</script>