@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@using DEWAXP.Foundation.Content
@using System.Linq
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Tabs

@if (Model.Children != null && Model.Children.Count() > 0)
{
    int tabCount = Model.Children.Count();
    <div class="m25-tabs" data-component="m25-tabs" data-selected-tab-id="m25-tab-5" data-helper="toggle-menu" data-toggle-breakpoint='m'>

        <div class="grid">

            <div class="grid__row">

                <div class="grid__column grid__column--4">

                    <div class="m25-tabs__menu" data-m25-tabs-menu="true">
                        <ul aria-role="tablist">


                            @foreach (var tabItem in Model.Children)
                            {
                                var i = Model.Children.ToList().IndexOf(tabItem);
                                <li>
                                    <a href="#m25-panel-@(i)" aria-controls="m25-panel-@i" class="m25-tabs__tab" id="m25-tab-@i" data-m25-tabs-tab="true">
                                        @tabItem.Title
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>

                </div>

                <div class="m25-tabs__body grid__column grid__column--8">

                    <div class="m15-tabs--mobile">
                        <div class="m25-tabs--title-mobile">

                        </div>
                        <div class="form-field form-field--select form-field--select-single">
                            <label for="form-field-mdynamictab" class="form-field__label"><span class="aria-only">select</span></label>
                            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                <select id="form-field-mdynamictab" class="m25-tabs--select-mobile form-field__input form-field__input--select"></select>
                            </span>
                        </div>

                        <div class="m25-tabs--container-mobile">
                        </div>
                    </div>


                    @foreach (var tabItem in Model.Children)
                    {
                        var i = Model.Children.ToList().IndexOf(tabItem);
                        <div class="toggle-menu__item">

                            <div class="toggle-menu__trigger" data-toggle-trigger="true">
                                <h2 class="m25-tabs__title toggle-menu__title icon-">@tabItem.Title</h2>
                            </div>

                            <div aria-labelledby="m25-tab-@i" aria-role="tabpanel" id="m25-panel-@i" class="m25-tabs__content toggle-menu__content" data-m25-tabs-content="true" data-toggle-content="true">

                                @Html.Sitecore().Placeholder("main/tabs/section" + @i)

                            </div>

                        </div>



                    }



                </div>

            </div>

        </div>

    </div>

}