@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization

<div class="grid__row">
	<div class="grid__column grid__column--12 grid__column--content">
		<div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
			<div class="m40-status-message__title">@Translate.Text("submission successful text")</div>
			<div class="m40-status-message__text">@Translate.Text("password changed text")</div>
		</div>
	</div>
</div>
