@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@Html.Sitecore().Placeholder("j86/m26-page-title")

@Html.Sitecore().Placeholder("j86/m14formatedtext")

<div class="grid__row">

    <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
        <div class="text-block">

            <p class="text__content-copy"><strong>@Translate.Text(DictionaryKeys.ProjectGeneration.NoProjects).</strong></p>

        </div>
    </div>

</div>