@using Sitecore.Globalization
<script src="https://media.readspeaker.com/scripts/formreader/fr.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://media.readspeaker.com/css/formreader/fr.css">

@{
    string formlang = "en_us";
  
    if (Language.Current.Name.ToLowerInvariant() == "ar-ae")
    {
        formlang = "ar_ar";
     }

}

<a href="http://app.readspeaker.com/enterprise/rsent_wrapper.php?mp3bitrate=32&amp;dict=forms&amp;customerid=17&amp;lang=@formlang&amp;url=http://shdev;output=audio&amp;cookieStart=1" style="text-decoration: none;" onclick="toggleActive('@Translate.Text("Form Reader Activated")', document.getElementById('fr_activator'),this); return false;">
    <img id="fr_listenicon" src="http://www.readspeaker.com/wp-content/uploads/icon_16px.gif" alt="" border="0" align="baseline">
    <span id="fr_activator">@Translate.Text("Activate FormReader")</span>
</a>

@*<script src="https://media.readspeaker.com/scripts/formreader/fr.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://media.readspeaker.com/css/formreader/fr.css">

    <a href="http://app.readspeaker.com/enterprise/rsent_wrapper.php?mp3bitrate=32&amp;dict=forms&amp;customerid=7358&amp;lang=en_us&amp;url=http://shdev&amp;output=audio&amp;cookieStart=1"
       style="text-decoration: none;"
        onclick="toggleActive('formReader activated', document.getElementById('fr_activator'),this); return false;">

        <img title="Listen to this page" alt="Listen to this page" src="http://www.readspeaker.com/wp-content/uploads/icon_16px.gif"
             width="30" style="border-style: none;">
        <span id="fr_activator">Activate FormReader</span>
    </a>*@
