@model DEWAXP.Feature.GeneralServices.Models.SocialMediaFeed.SocialMediaConfigModel
<script type="text/javascript" src="/Scripts/instafeed.js"></script>
<br style="clear: all"></br>
<div class="grid__row">
    <div class="grid__column grid__column" style="overflow: auto">

        <!-- m15-social-media-feed start -->
        <div class=" m15-social-media-feed" data-component="m15-social-media-feed">
            <div class="m15-social-media-feed__content">
                <div id="instafeed"></div>
                <script type="text/javascript">
                    var userFeed = new Instafeed({
                        get: 'user',
                        userId: '@Model.InstagramUserId',
                        accessToken: '@Model.AccessToken'
                    });
                    userFeed.run();
                </script>
            </div>
        </div>
    </div>
</div>