@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Expander

<div class="m37-expander" data-component="m37-expander">
    <button data-toggle="true" aria-haspopup="true" aria-expanded="false" class="m37-expander__trigger m37-expander__trigger--themed">@Html.Glass().Editable(x => x.Heading)</button>
    <div data-content="true" class="m37-expander__content">
        @Html.Glass().Editable(x => x.Content)
    </div>
</div>