@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
<div class="j143-ideal-home" data-journey="j143-ideal-home">
    @Html.Sitecore().Placeholder("ideal-home-component")

    @Html.Sitecore().Placeholder("ideal-home/bottom-section")
</div>