@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@model DEWAXP.Feature.Events.Models.Events.RegistrationModel
<div class="grid__row mt24">
    <div class="grid__column grid__column--12 grid__column grid__column--form">
        <div class="m40-status-message m40-status-message--success  icon icon-new-success-message " data-component="m40-status-message">
            <div class="m40-status-message__title">@Model.Message</div>
            <div class="m40-status-message__text">
                @Translate.Text("Event_Successtext")
            </div>
        </div>
    </div>
</div>
<div class="grid__row mb24">
    <div class="grid__column grid__column--12 centered">
        <a class="button button--primary" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.AgileGovtGlobalSummitRegistration)" data-close="true" id="_sezpd4dxr_close" aria-controls="_sezpd4dxr_content">@Translate.Text("Event_Registration")</a>
    </div>
</div>