@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Feature.GeneralServices.Models.Sponsorship
@model SponsorshipModel

<div class="grid" data-journey="j131-scrap-sale">
    @Html.Sitecore().Placeholder("payment-confirmation/page-title")
    @if (Model.IsSuccess)
    {
        <div class="grid__row mt48">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                    <div class="m40-status-message__text m42-keyvalue__value--stacked tran-details">
                        <strong>  @Translate.Text("SPS_Successmsg") </strong>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    }
</div>