@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization;
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers;
@using DEWAXP.Foundation.Content;
<link rel="stylesheet" type="text/css" href="~/styles/External/jquery.modal.min.css">
<script src="~/scripts/External/jquery.modal.min.js"></script>
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("title")
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid__row mb32">
        <div class="grid__column grid__column--8">
            @Html.Partial("~/Views/Feature/Dashboard/Dashboard/Partial/_totalbillamount.cshtml")
        </div>
        <div>@Html.Sitecore().Placeholder("teaserset")</div>
        <div class="grid__column grid__column--8">

        </div>
    </div>


</div>