@using System.Linq
@using System.Net.Configuration
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.NewsArticle

@{
    if (!string.IsNullOrEmpty(Model.NewsArticleBody))
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m22-image-with-caption" data-component="m22-image-with-caption">
                    @Html.Glass().RenderImage(x => x.TeaserImage, new { @class = "m22-image-with-caption__image" }, true)

                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m14-richtext">
                    @Html.Sitecore().Field("NewsArticle")
                </div>
            </div>
        </div>
    }
}
