@model DEWAXP.Feature.CommonComponents.Models.LanguageSwitcher.LanguageSwitcher
@using Sitecore.Globalization

@if (Model.ItemHasOtherLanguage)
{
    if (Model.SwitcherType == 0)
    {
        <a data-m12-lang-link="true" class="m12-tools__link m12-tools__link-lang" href="@Model.OtherLanguageUrl">
            @(Model.OtherLanguage.Name == "ar-AE" ? "العربية" : "English")
        </a>
    }
    else
    {
        <a class="m12-menuover-footer--link_lang" href="@Model.OtherLanguageUrl">
            @(Model.OtherLanguage.Name == "ar-AE" ? "العربية" : "English")
        </a>
    }

}