@using DEWAXP.Feature.CommonComponents.Models.Header
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@model Masthead
@if (Model.Header != null)
{
    <footer class="" style="position:fixed; bottom:0px; width:100%;">
        <div class="m13-main">
            <div class="academy-main__content">
                <div class="smart-app">
                    @using (Html.Glass().BeginRenderLink(Model, x => x.Header.GovernmentLink))
                    {
                        @Html.Glass().RenderImage(Model, x => x.Header.GovernmentImage, new { @class = "dewa-smart-app" }, true, false)
                    }
                </div>
                <div class="lg-button">
                    @using (Html.Glass().BeginRenderLink(Model, x => x.Header.DewaLink))
                    {
                        @Html.Glass().RenderImage(Model, x => x.Header.DewaImage, new { @class = "arabic-font" }, true, false)
                    }
                </div>
            </div>
        </div>
    </footer>
}