@using Sitecore.Mvc

<div class="grid">
	@Html.Sitecore().Placeholder("j26/m26-page-title")
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
	<div class="grid__row">
		<div class="grid__column grid__column--12">
		
			<br />
			
		</div>
	</div>
</div>
