@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.ImageCaption

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m22-image-with-caption" data-component="m22-image-with-caption">
            @Html.Glass().RenderImage(x => x.Image, new { @class = "m22-image-with-caption__image", Width = 589, Height = 295 }, true)
            <div class="m22-image-with-caption__caption">@Html.Glass().Editable(x => x.Caption)</div>
        </div>
    </div>
</div>


