@model DEWAXP.Feature.HR.Models.CareerPortal.CandidateProfile
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Feature.HR.Models.CareerPortal
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@using DEWAXP.Foundation.Content
<p>Please enclose copies (doc, doc, pdf file formats supported) of your updated Resume/CV, Passport, Emirates ID and Educational Certificates.</p>
<div class="form-field--group">
    <div class="form--data-table-row">
        <div class="tab-title tab-expand">Passport</div><div class="form-field form-field--upload">
            <div class="form-field__input-wrapper">
                <div>
                    <p class="form-field__input--upload-filename" data-uploader-filename="fmzs8snvo" style="display: none;"></p>
                    <p><button class="button button--text button--remove hidden" data-uploader-remove="fmzs8snvo" style="display: none;">Remove</button></p>
                </div>
                <div class="form-field__preview-wrapper">
                    <img src="../../images/preview_pdf@2x.png" data-src="../images/preview_pdf@2x.png" data-success="../images/upload_success@2x.png" class="form-field__preview tooltipstered" aria-hidden="true" role="presentation" alt="alt text" data-uploader-image="fmzs8snvo">
                </div>
                <div class="form-field__uploader-details">
                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        <select class="form-field__input form-field__input--select form-field__input--select-full " id="form-field-i4akthfo1" name="select_required" aria-describedby="description-for-i4akthfo1" data-parsley-errors-container="#description-for-i4akthfo1" required="" data-parsley-required-message="This field is required" data-parsley-trigger="change" data-parsley-id="6">
                            <option value="" selected="">Choose an option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </span>
                    <div style="width: 140px;margin-top:8px;float: left;">
                        <label>
                            <input class="form-field__input form-field__input--upload parsley-success" id="form-field-fmzs8snvo" name="upload" type="file" aria-describedby="description-for-fmzs8snvo" data-parsley-errors-container="#description-for-fmzs8snvo" required="" data-parsley-required-message="This field is required" data-uploader-field="fmzs8snvo" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*, application/rar, application/zip" data-accepts="&quot;jpg&quot;, &quot;bmp&quot;,&quot;gif&quot;,&quot;png&quot;,&quot;jpeg&quot;,&quot;pdf&quot;,&quot;doc&quot;,&quot;docx&quot;,&quot;xls&quot;,&quot;csv&quot;, &quot;xlsx&quot;" data-size="2048000" data-parsley-trigger="focusout" data-parsley-id="6" aria-invalid="false">
                            <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">Choose</span>
                        </label>
                    </div>
                    <button class="button button--quaternary" style="margin-top: 8px;">Add</button>
                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message" style="display: none;">Upload format is not correct</p>
                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message" style="display: none;">Upload file size is too high</p>
                </div>
            </div>
            <div id="description-for-fmzs8snvo" class="form-field__messages">
                <p class="form-field__description">
                    <br>Note that the maximum size allowed for each attachment is 2MB.
                    Formats allowed: jpg, gif, png, odf, doc.docx, xls,csv,xlsx <br><br> <strong>Note:</strong> Emirates ID mandatory for UAE Residents &amp; Citizens
                </p>
            </div>
        </div>
    </div>
</div>

