@using Sitecore.Mvc


<form id="form-account-selector" method="POST" form-skipvalidation="true">
    <div class="">
        @Html.Sitecore().Placeholder("bes/account-selector")
    </div>
</form>
    
