@using Sitecore.Mvc


<div class="grid BES-grid" style="display:none">
        <div class="grid__row mb24">
            <div class="grid__column grid__column--12">
                <div class="j69-dashboard--card">
                    <div class="j69-dashboard--card_title">
                    </div>
                     <div class="j69-dashboard--bes_6">
                        @Html.Sitecore().Placeholder("j69/bes")
                    </div>
                    <div class="j69-dashboard--bes_6">
                        <div class="m14-richtext" style="margin-bottom:12px">
                            @Html.Sitecore().Placeholder("j69/bes-richtext")

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row mb32">
            <div class="grid__column grid__column--12">
                <div class="j69-dashboard--card">
                    <div class="j69-dashboard--card-head">
                        <div class="j69-dashboard--card_title"></div>
                            <div class="j69-dashboard--card-head_link hidden">
                                <a href="#" class="button button--text button--next j69-dashboard--card-head_link_anchor green" title="">
                                </a>
                            </div>
                    </div>
                    @Html.Sitecore().Placeholder("j69/bes-saving")

                </div>
            </div>
        </div>
    </div>
    
