@model DEWAXP.Feature.Partner.Models.CorporatePartnership.UserModel
@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers
@using System.Text
@using DEWAXP.Foundation.Content

<div class="grid">
    <div class="grid__row mb0">
        <div class="grid__column grid__column--12">
            <div class="m10-avatar">
                <div class="m10-avatar__content">
                    <img class="m10-avatar__image" src='@(string.IsNullOrWhiteSpace(Model.UserProfilePhoto)?"/images/accounts/Customer.png":"data:image;base64,"+Model.UserProfilePhoto)'>
                    <h2 class="m10-avatar__name">@(Model.Name ?? "CP USER")</h2>
                    <a href="/api/sitecore/CorporatePartnership/Logout" class="link button--text">@Translate.Text("cpportal.Logout")</a>
                </div>
            </div>
        </div>
    </div>
</div>