@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m40-status-message m40-status-message--success " data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">@Translate.Text("Scholarship Recovery Email Successful Title")</div>
                <div class="m40-status-message__text">@Translate.Text("Scholarship Recovery Email Successful Message")</div>
            </div>

            <div class="seperator-btn" role="separator">
                <a class="button button--primary button--fullwidth-mobile" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCHOLARSHIP_SIGNIN_PAGE)">
                    @Translate.Text("Scholarship Login Button Label")
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    jQuery(function ($) {

        $(".m12-myaccount").hide();
    });

</script>
