@using Sitecore.Globalization;

<div class="m24-msg-float m24-msg-float-return m24-msg-float-return-success" id="divfloatSuccess" data-component="m24-msg-float">
    <div class="m24-msg-float--wrapper_outer">
        <div class="m24-msg-float--wrapper">
            <div class="m24-msg-float--text icon icon-new-success-message">
                @Translate.Text("DEWA Register Success Message")
            </div>
            <div class="m24-msg-float--buttons">
                <button class="button button--primary button--small m24-msg-float--closebtn">@Translate.Text("Close")</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    docReady(function () {
        setTimeout(function () {
            jQuery("#divfloatSuccess").removeClass('hidden');
            jQuery("#divfloatSuccess").addClass("m24-msg-float--active")
        }, 1200)
    });
</script>