@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey.MessageViewModel
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m40-status-message m40-status-message--success  icon icon-new-success-message " data-component="m40-status-message">
            <div class="m40-status-message__title">
                @Model.Title
            </div>
            <div class="m14-richtext">
                <p class="">
                   @Model.Description
                </p>
            </div>          
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--centered">                
        <a href="@DEWAXP.Foundation.Helpers.LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary button--next" >@Translate.Text("j154_BTSL")</a>
    </div>
</div>
