@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="grid__row">
	<div class="grid__column grid__column--12 grid__column--form">
		<div class="m14-richtext">
			@Html.Sitecore().Field("Rich Text")
		</div>
	</div>
</div>


