@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="grid__column grid__column--6">
	<aside class="aside">
		@Html.Sitecore().Field("Rich Text")
	</aside>
</div>