@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.FieldViewModel

<div data-sc-field-key="@Model.ConditionSettings.FieldKey" class="@Model.CssClassSettings.CssClass">
    <section>
        <h2 class="legend">@Model.Name</h2> 
        @Html.RenderFields(Model)
    </section>
</div>
