@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@model DEWAXP.Feature.GeneralServices.Models.ManageAlerts.Unsubscribe


<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m26-page-title  title_message">
            <h2 class="text__page-title">@Translate.Text("Unsubsribe.RequestedSuccessful")</h2>
            <p class="text-page__intro">@Translate.Text("Unsubsribe.Confirmation")</p>
        </div>
    </div>
</div>