@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid mt56">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m40-status-message m40-status-message--success " data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">@Translate.Text("Candidate Registration Successful Title")</div>
                <div class="m40-status-message__text">@Translate.Text("Candidate Registration Successful Message")</div>
                <div class="seperator-btn" role="separator">
                    <a class="button button--primary button--fullwidth-mobile" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_POTAL_LOGIN)">
                        @Translate.Text("login button text")
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

