@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m17-sectiontitle " data-component="m17-sectiontitle">
            <div class="m17-sectiontitle__colors">
                <span class="title-colors-green"></span>
                <span class="title-colors-red"></span>
                <span class="title-colors-blue"></span>
                <span class="title-colors-purple"></span>
                <span class="title-colors-brown"></span>
            </div>
            <h3 class="m17-sectiontitle__title  text__section-title">@Translate.Text("IDH_Step2") @Translate.Text("IDH_Step2Title")</h3>
        </div>
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column-toggle grid__column-active">
        <div class="m14-richtext text-large">
            <p>@Translate.Text("IDH_Step2Initial")<p>
        </div>
    </div>
</div>
