@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration


<div class="j03-drrg-addnew">
    <div class="grid">
        @Html.Sitecore().Placeholder("component")
    </div>
</div>