      
      #config{
          overflow: auto;
          margin-bottom: 10px;
      }
      .config{
          float: left;
          width: 500px;
          height: 16px;
          border: 1px solid #000;
          margin-left: 10px;
      }
      .config .title{
          font-weight: bold;
          text-align: center;
      }
      .config .barcode2D,
      #miscCanvas{
        display: none;
      }
      
      #submit{
          clear: both;
      }
      
      #barcodeTarget,
      #barcodeTarget{
        margin-top: 20px; 
      }        
      
      #hide { display: none;} 
   
