@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

<div id="rs_area">
    <div class="rs_preserve">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                @Html.Sitecore().Placeholder("main/m26-page-title")
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Sitecore().Placeholder("main/m28-step-tracker")
                @Html.Sitecore().Placeholder("main/m99-intro-text")
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Sitecore().Placeholder("account/j14-payment-options")
            </div>
        </div>
    </div>
</div>