@model DEWAXP.Feature.CommonComponents.Models.IdealHomeConsumer.VideoModelSet
@using Sitecore.Globalization

<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

@if (Model != null && Model.Children != null)
{
    <div class="m93-panel-container-title"><strong>@Translate.Text("IDH_AwarenessVideos")</strong></div>

    <div class="j143-ideal-home-videos">
        @foreach (DEWAXP.Feature.CommonComponents.Models.IdealHomeConsumer.VideoModelItem item in Model.Children)
        {
            <div class="grid__column grid__column--3">
                <div class="m9-teaser" data-component="m9-teaser">
                    <div class="m9-teaser-image">
                        <div class="m36-videoplayer--variant m36-videoplayer--modal" data-vid="" data-iframe="<video class='video-js vjs-default-skin' controls='' width='640' height='360' frameborder='0' allowfullscreen data-setup='{ &quot;techOrder&quot;: [&quot;youtube&quot;, &quot;html5&quot;], &quot;sources&quot;: [{ &quot;type&quot;: &quot;video/youtube&quot;, &quot;src&quot;: &quot;@(item.VURL)&quot;}] }' id=''></video>">
                            <div class="m36-videoplayer--modal-content" style="display:none;">
                            </div>
                            <div class="m36-videoplayer--details">
                                <div class="m36-videoplayer--length">
                                    @item.VLength
                                </div>
                            </div>
                            <div class="m36-videoplayer--image" style="background-image: url(@(item.VBackImage != null ? item.VBackImage.Src : "'~/images/hero_article.jpg'"));">
                            </div>
                        </div>
                    </div>
                    <div class="teaser__content">
                        <h4 class="teaser__title"><span class="teaser__title-text">@item.VTitle</span></h4>
                    </div>
                </div>
            </div>
        }
    </div>
}

<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script src="~/Scripts/External/nml/Youtube.min.js"></script>

<script type="text/javascript">
    jQuery('.m36-videoplayer--variant').on('click', function () {
        var _vid = jQuery(this).data('vid');
        if (_vid != null) {
            videojs('#' + _vid, {
                controlBar: {
                    fullscreenToggle: false,
                    progressControl: {
                        seekBar: false
                    }
                }
            });
        }
    });
</script>
