@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization

@{
    string imageUrl = string.Empty, bannerImage = string.Empty, footerImg = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    
        imageUrl = "/images/EW/headerimg.png";
        bannerImage = "/images/EW/mainimg.png";
        footerImg = "/images/EW/footerimg.png";
    

}
<div class="grid j01-register" data-journey="j01-register" isVirtualEvent="false">
    <div class="grid__row mb24">
        <div class="grid__column grid__column--12 grid__column--form">
            <img class="j01-register--headerimg" src="@imageUrl">
        </div>
    </div>

    <div class="grid__row mb24">
        <div class="grid__column grid__column--6">
            <img class="j01-register--mainimg" src="@bannerImage">
        </div>

        <div class="grid__column grid__column--6">
            <div class="j01-register--form_wrapper">
                <div class="j01-register--text">
                    <p><strong>نشكركم على التسجيل في منتدى المرأة الإماراتية.</strong></p>

                    <p>يرجى العلم بأن المنتدى سيعقد بتاريخ 24 أغسطس 2022 في تمام الساعة 8:30 صباحاً في مبنى أكاديمية هيئة كهرباء ومياه دبي للتطوير المهني والأكاديمي. يرجى إبراز نتيجة سلبية لفحص PCR لا تتجاوز 48 ساعة.</p>

                    <p>إذا قمت بالتسجيل في الحدث الافتراضي ، يرجى زيارة هذا الرابط الخاص بالبث المباشر للمنتدى في تاريخ ووقت الحدث، والذي سيصلكم عبر البريد الإلكتروني كذلك.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12  grid__column--content">
            <img class="j01-register--footerimg" src="@footerImg">
        </div>
    </div>
</div>
