@using Sitecore.Mvc
@using Sitecore.Globalization

<div class="grid__row mb32">
    <div class="grid__column grid__column--4">
        @Html.Partial("~/Views/Feature/EV/EVDashboard/Partial/_totalbillamount.cshtml")
    </div>

    <div class="grid__column grid__column--8">
        <div class="m84-bills-compare m84-bills-compare--EV" data-component="m84-bills-compare">
            <form id="evbillcompare-component-form">
                @Html.AntiForgeryToken()
            </form>
            <div class="m84-bills-compare--header">
                <div class="m84-bills-compare--header_title">
                    @Translate.Text("EV_Dashboard_Billing_History")
                </div>
            </div>
            <div id="evbill-compare-component"></div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/evbillcompare")
