@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.User
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@{
    var btnDisabled = "disabled";
    var message = Translate.Text("J106.PleaseCompleteStep3Label");

    if (Model.SurveyResponses.FirstOrDefault().IsFirstAttemptCompleted && Model.VideoResponses.FirstOrDefault().IsCompleted && (Model.SurveyResponses.FirstOrDefault().Marks == 100 || (Model.SurveyResponses.LastOrDefault().IsSecondAttemptCompleted && Model.SurveyResponses.LastOrDefault().Marks >= 90)))
    {
        btnDisabled = string.Empty;
        message = Translate.Text("J106.ViewCertificate");
    }
    else
    {
        btnDisabled = "disabled";
        message = Translate.Text("J106.PleaseCompleteStep3Label");
    }
}

<div class="grid__column grid__column--6">
    <div class="j106-ideal-home__stat-card">
        <div class="j106-ideal-home__stat-step">@Translate.Text("J106.Step4Label")</div>
        <div class="j106-ideal-home__stat-title">@Translate.Text("J106.CompletionCertificateLabel")</div>
        <div class="j106-ideal-home__stat-progress">
        @message    
        </div>
      
      
        <div class="j106-ideal-home__buttons">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.IDEALHOMECONSUMER_DISPLAY_CERTIFICATE)" @btnDisabled class="@btnDisabled button button--primary button--small">
                @Translate.Text("J106.ContinueLabel")
            </a>
        </div>
    </div>
</div>