@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.SurveyResponse
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="j106-ideal-home__score">@Model.Assessment  <span class="j106-ideal-home__total--score">@Model.Marks</span>/100</div>
        </div>
    </div>

</div>