@model DEWAXP.Feature.CommonComponents.Models.LanguageSwitcher.LanguageSwitcher

@if (Model.ItemHasOtherLanguage)
{
        <a class="icon-new-online-services m11-tools--language" href="@Model.OtherLanguageUrl">
            @(Model.OtherLanguage.Name == "ar-AE" ? "العربية" : "English")
        </a>
}
