@using DEWAXP.Foundation.Content
@using DEWAXP.Feature.SupplyManagement.Models.ConsumptionComplaint;
@using Sitecore.Globalization;
@model ConsumptionInsightData
@using Sitecore.Mvc
@using _commonHelper = DEWAXP.Feature.SupplyManagement.Helpers.ConsumptionComplaint.ConsumptionHelper;
@using smConfig = DEWAXP.Foundation.Content.ConsumptionComplaintResponseCofig;
@using System.Linq

@if (Model != null)
{

    if (Model.BehaviourSetting != null)
    {
        Html.RenderPartial("~/Views/Feature/SupplyManagement/Consumption/Insight/ConsumptionBehaviourSection.cshtml", Model);
    }

    if (Model.ConsumptionUsageSetting != null && Model.ConsumptionSlabDataListSetting != null)
    {
        <div class="grid__row">
            @if (Model.ConsumptionSlabDataList != null && Model.ConsumptionSlabDataList.Count > 0)
            {
                <div class="grid__column grid__column--6">
                    @{Html.RenderPartial("~/Views/Feature/SupplyManagement/Consumption/Insight/WaterSlabGraph.cshtml", Model);}
                </div>
            }


            @if (Model.ConsumptionSlabDataList != null && Model.ConsumptionSlabDataList.Count > 0)
            {
                <div class="grid__column grid__column--6">
                    @{Html.RenderPartial("~/Views/Feature/SupplyManagement/Consumption/Insight/UsageConsumptionGraph.cshtml", Model);}
                </div>
            }

        </div>
    }
    if (Model.ConsumptionUsageSetting == null && Model.ConsumptionSlabDataListSetting != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                @{Html.RenderPartial("~/Views/Feature/SupplyManagement/Consumption/Insight/WaterSlabGraph.cshtml", Model);}
            </div>
        </div>
    }

    if (Model.ConsumptionUsageSetting != null && Model.ConsumptionSlabDataListSetting == null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                @{Html.RenderPartial("~/Views/Feature/SupplyManagement/Consumption/Insight/UsageConsumptionGraph.cshtml", Model);}
            </div>
        </div>
    }

    Html.RenderPartial("~/Views/Feature/SupplyManagement/Consumption/Insight/ConsumptionGraph.cshtml", Model);


    Html.RenderPartial("~/Views/Feature/SupplyManagement/Consumption/Insight/ConsumptionAlertList.cshtml", Model);
}
else
{
    <p>@_commonHelper.GetSMTranslation("No Insight Data available")</p>
}