@using Sitecore.Globalization

<div class="grid__row">
	<div class="grid__column grid__column--12 grid__column--form">
		<p class="intro-text">
			@Translate.Text("cannot change password intro text")
		</p>
		<p class="form-field__button">
			<a href="http://myid.dubai.gov.ae" class="button button--primary button--next">@Translate.Text("myid website button text")</a>
		</p>
	</div>
</div>