@using DEWAXP.Feature.Account.Models
@using DEWAXP.Foundation.Content.Models.AccountModel
@model DEWAXP.Foundation.Content.Models.AccountModel.RecoveryEmailSentModel

<div class="grid">
	<div class="grid__row">
		<div class="grid__column grid__column--12">
			<div class="m26-page-title">
				<h2 class="text__page-title">@GetPageTitle(Model.Context)</h2>
			</div>
		</div>
	</div>

	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--content">
			<div class="m40-status-message m40-status-message--success m40-status-message--fullwidth">
				<div class="m40-status-message__title icon--success">@GetRecoveryConfirmationTitle(Model.Context)</div>
				<div class="m40-status-message__text">@Html.Raw(GetRecoveryConfirmationMessage(Model.Context, Model.EmailAddress))</div>
			</div>
		</div>
	</div>
</div>

@functions
{

    private string GetPageTitle(RecoveryContext context)
    {
        switch (context)
        {
            case RecoveryContext.Username:
            case RecoveryContext.CandidateProfileUsername:
                return Sitecore.Globalization.Translate.Text("username recovery email confirmation page title");
            default:
                return Sitecore.Globalization.Translate.Text("password recovery email confirmation page title");
        }
    }

    private string GetRecoveryConfirmationTitle(RecoveryContext context)
    {
        switch (context)
        {
            case RecoveryContext.Username:
            case RecoveryContext.CandidateProfileUsername:
                return Sitecore.Globalization.Translate.Text("username recovery email confirmation title");
            default:
                return Sitecore.Globalization.Translate.Text("password recovery email confirmation title");
        }
    }

    private string GetRecoveryConfirmationMessage(RecoveryContext context, string emailAddress)
    {
        switch (context)
        {
            case RecoveryContext.Username:
                return Sitecore.Globalization.Translate.Text("username recovery email confirmation message", emailAddress);
            case RecoveryContext.CandidateProfileUsername:
                return Sitecore.Globalization.Translate.Text("careerportal username recovery email confirmation message", emailAddress);
            default:
                return Sitecore.Globalization.Translate.Text("password recovery email confirmation message", emailAddress);
        }
    }

}

