@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Foundation.Content.Models.Common.ModalOverlay

<div class="m39-modal" data-component="m39-modal">
	<div class="m39-modal__container">
		<div class="m39-modal__dialog">
			<div class="m39-modal__header">
				<div class="m39-modal__title">@Html.Glass().Editable(x => x.Header)</div>
				<button class="m39-modal__button--close">@Html.Glass().Editable(x => x.CloseText)</button>
			</div>
			<div class="m39-modal__content">
				<div class="m14-richtext">@Html.Glass().Editable(x => x.Content)</div>
			</div>
		</div>
	</div>
</div>