/*Views\Feature\HappinessIndicator\Renderings\_Indicator.cshtml
Views\Feature\SupplyManagement\Complaints\_ElectricityComplaint.cshtml
Views\Feature\SupplyManagement\Consumption\ComplaintResponse.cshtml*/
.fancybox-overlay {
    z-index: 999999;
}

.fancybox-opened {
    z-index: 9999999;
}

/*Views\Feature\HappinessIndicator\Renderings\_Indicator.cshtml
Views\Feature\SupplyManagement\Complaints\_ElectricityComplaint.cshtml
Views\Feature\SupplyManagement\Consumption\ComplaintResponse.cshtml
  */


  
/*Views\Feature\Search\Listing\_SearchResults.cshtml*/
.highlight {
    background-color: #A4CBFF;
}

.fancybox-overlay {
    background: url(../../../images/fancybox/fancybox_overlay.png) !important;
}
/*Views\Feature\Search\Listing\_SearchResults.cshtml*/