@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M7TeaserSet

@if (Model != null)
{
    <div class="j157-ir-howto">
        @foreach (var teaser in Model.Children)
        {
            <div class="j157-ir-howto-item @teaser.ClassName">
                <svg class="j157-ir-howto-arrow" width="61" height="86" viewBox="0 0 61 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.91482 4.08819C10.5147 2.66291 9.84563 1.02115 8.42034 0.42124C6.99506 -0.178674 5.3533 0.490424 4.75339 1.91571L9.91482 4.08819ZM61 73.002L35.2449 53.457L31.196 85.5341L61 73.002ZM4.75339 1.91571C1.14764 10.4823 -1.61672 24.9537 1.66188 38.8919C4.99217 53.0498 14.5546 66.534 35.2118 72.5343L36.7739 67.1566C18.208 61.7638 10.0179 49.9588 7.1131 37.6096C4.15657 25.0406 6.67441 11.7868 9.91482 4.08819L4.75339 1.91571Z" fill="#57667C" fill-opacity="0.7" />
                </svg>
                <div class="j157-ir-howto-index">
                    @teaser.Header
                </div>
                <div class="j157-ir-howto-title">
                    @teaser.Subheader
                </div>
                <div class="j157-ir-howto-desc">
                    @Html.Raw(teaser.Description)
                </div>
            </div>
        }
    </div>
}