@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M7TeaserSet

@if (Model != null)
{
<div class="m106-timeline" data-component="m106-timeline">
    @if (!string.IsNullOrWhiteSpace(Model.Header))
    {
        <div class="m106-timeline--year-outer">
            <div class="m106-timeline--year">
                @Model.Header
            </div>
        </div>
    }

    <div class="m106-timeline--body">
        @foreach (var teaser in Model.Children)
        {
            <div class="m106-timeline--card @(teaser.Featured)">
                <div class="m106-timeline--date">
                    @teaser.Header
                </div>
                <div class="m106-timeline--desc">
                    @teaser.Description
                </div>
                <div class="m106-timeline--dash"></div>
            </div>
        }
    </div>
    <div class="m106-timeline--arrow">
    </div>
</div>
}