@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Hero

@if (Model != null && Model.Id != Guid.Empty && Model.Children != null)
{
    <div class="m1-hero m1-hero--variant" data-component="m1-hero">
        <div class="m1-hero__container">
            <div class="m1-hero__carousel">
                @foreach (var slide in Model.Children)
                {
                <div class="m1-hero__carousel-slide" data-alt="@slide.Image.Alt" style="background-image:url('@(slide.Image != null && !string.IsNullOrWhiteSpace(slide.Image.Src)?slide.Image.Src: "")')">
                    <div class="m1-hero__overlay"></div>
                    <div class="m1-hero__carousel-slide-inner">
                        <div class="m1-hero__carousel-slide-panel--inner">
                            <div class="m1-hero__carousel-slide-panel-title">
                                @Html.Glass().Editable(slide, x => x.Header)
                            </div>
                            <div class="m1-hero__carousel-slide-panel-subtitle">
                                @Html.Glass().Editable(slide, x => x.Description)
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="m1-hero__carousel-nav">
            <div class="m1-hero__carousel-nav-outer">
                <div class="m1-hero__carousel-nav-inner-btn">
                    <div role="button" class="m1-hero__carousel-button-play-pause  m1-hero__carousel-button--pause"></div>
                </div>
            </div>
        </div>
    </div>
}
