@model DEWAXP.Feature.HappinessIndicator.Models.HappinessIndicator.HappinessIndicatorViewModel
@using Sitecore.Globalization

@{

    var web_lang = Language.Current.Name.ToLowerInvariant();
    var url = Url.Action("PostData", "HappinessIndicator", new
    {
        type = Model.Type,
        language = Sitecore.Context.Language.Name,
        transactionId = Model.TransactionId,
        serviceCode = Model.ServiceCode,
        islocal = Model.islocal,
        ServiceDescription = Model.ServiceDescription
    });
}
<a id="hitrigger" class="green m13-footer--floating_link icon-b-smile-sdg happiness fancybox fancybox.iframe" href="@url">
    @*<img src="/images/fancybox/SideIcon.png" alt="@Translate.Text("Happiness Icon")" title="@Translate.Text("Happiness Icon")" width="40" />*@
    <span class="aria-only">@Translate.Text("Happiness Icon")</span>
</a>

@if (Model.AutoShow)
{
    <script type="text/javascript">
        docReady(function () {
            jQuery(function ($) {
                $("#hitrigger").trigger('click');
            });
        });
    </script>
}

