@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Configuration
@model DEWAXP.Feature.Events.Models.BestConsumerAward.BestConsumerAwardModel



<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message>
            <div class="m40-status-message__title icon--success">@Translate.Text("Submission Successful")</div>
            <div class="m40-status-message__text">@Translate.Text("Submission-Success-BCA")</div>
        </div>
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12">
        <ul class="summary-footer__buttons">
            <li class="summary-footer__button">
                
            </li>
        </ul>
    </div>
</div>
