@using Sitecore.Globalization;
@model DEWAXP.Feature.Account.Models.Expo2020.Expo2020Model

<div class="grid">
    <div class="grid__row mt48">
        <div class="grid__column grid__column--12 grid__column--content">
            @if (Model.IsSuccess)
            {
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title">@Translate.Text("Expo_InquirySubmitted")</div>
                <br />
                @Translate.Text("Expo_InquirySubMsg")
            </div>
            }
            else
            {
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            }
        </div>
    </div>
</div>
