@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M7Teaser

<div class="m18-quick-tools flex-center m18-quick-tools--investor" data-component="m18-quick-tools"
     style="background-image: url('@(Model.BackgroundImage != null && !string.IsNullOrWhiteSpace(Model.BackgroundImage.Src)?Model.BackgroundImage.Src: "")')!important;" id="contactus-@(Guid.NewGuid().ToString("D"))">
    <div class="m18-quick-tools--container">
        <div class="m18-quick-tools--wrapper">
            <div class="m18-quick-tools--panelouter">
                <div class="m18-quick-tools--panel m18-quick-tools--panel--2">
                    <div class="m18-quick-tools--title">
                        @Model.Header
                    </div>
                    <div class="m18-quick-tools--subtitle">
                        @Model.Subheader
                    </div>
                    <div class="m18-quick-tools--content">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>