@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Feature.GatePass.Models.ePass
@using DEWAXP.Foundation.Content
<div class="grid__column grid__column--6 grid__column--form--small">
    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form j113-epass--multi_attachment", data_form = "true", @id = "multilistepass", @data_submit_validate = "enabled", @name = "multilistepass", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <p>@Translate.Text("All the passes have been saved. Check and submit the pass")</p>
    }
</div>






