<?xml version="1.0"?>
<appSettings configBuilders="SitecoreAppSettingsBuilder">
   <add key="BES_BASE_URL" value="https://qaacp.advizzo.dewa.gov.ae:8443/acp_dewa/html/" />
   <add key="DUBAIMODEL_SSL_SETTING" value="1" />
    <add key="EMAIL_USER" value="eservice" />
    <add key="EMAIL_PWD" value="eservice123" />
    <add key="EmailReminder.FromAddress" value="name@server.net" />
    <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
    <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />	
    <add key="DEWA_MERCHANT_ID_DESKTOP" value="DWEBQUID" />
    <add key="DEWA_MERCHANT_PWD_DESKTOP" value="TESTDWLOGIN" />
    <add key="DEWA_VENDOR_ID_DESKTOP" value="DWEBQMID" />
    <add key="DEWA_MERCHANT_ID_MOBILE" value="MWEBQUID" />
    <add key="DEWA_MERCHANT_PWD_MOBILE" value="OLSDIK389201MASD" />
    <add key="DEWA_VENDOR_ID_MOBILE" value="MWEBQMID" />
    <add key="DEWA_APP_ID" value="d" />
    <add key="DEWA_APP_VER" value="1.1" />
    <add key="BB_UN" value="BBASICS1" />
    <add key="BB_PWD" value="basics123" />
    <add key="HEADER_EHM_UN" value="EMPHAPP1" />
    <add key="HEADER_EHM_PWD" value="dewa123$" />
    <add key="EPAY_SECRET" value="BBMOQMID" />
    <add key="EPAY_URL" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/Epay5.DewaEpayGateway?rd=dewastg2" />
    <add key="EPAY_URL_DEWA" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/Epay5.DewaEpayGateway?rd=dewastg2" />
    <add key="DEWA_USC_MERCHANT_ID_DESKTOP" value="UNICRQUID" />
    <add key="DEWA_USC_MERCHANT_PWD_DESKTOP" value="JW762VCN0S156938" />
    <add key="DEWA_USC_MERCHANT_ID_MOBILE" value="UNICRQUID" />
    <add key="DEWA_USC_MERCHANT_PWD_MOBILE" value="JW762VCN0S156938" />
    <add key="PRIMARY_DNS" value="staging.dewa.gov.ae" />
    <add key="SECONDARY_DNS" value="staging1.dewa.gov.ae" />
    <add key="RECRUITMENT_UN" value="testerec" />
    <add key="RECRUITMENT_PWD" value="test123" />
    <add key="DUBAI_MODEL_UN" value="DEWAEnergyUser" />
    <add key="DUBAI_MODEL_PWD" value="oY61yEnerg@3Pox45LOz" />
    <add key="ESERVICE_UN" value="eservice" />
	<add key="ESERVICE_PWD" value="eservice123" />
    <add key="CREDDB_UN" value="WEBUSER" />
    <add key="CREDDB_PWD" value="twin83ings" />
    <add key="GMAPAPIKEY" value="AIzaSyCEPIVy8zIRY0A_tD40ykuh4ofrVnu8zAA" />
    <add key="HAPPINESS_IND_CLIENT_ID" value="dewabeatuser" />
    <add key="HAPPINESS_IND_POST_URL" value="https://happinessmeterqa.dubai.gov.ae/HappinessMeter2/PostDataService" />
    <add key="HAPPINESS_IND_SECRET_KEY" value="da14d8053ad019d6" />
    <add key="HAPPINESS_IND_SERVICE_PROVIDER" value="DEWA" />
    <add key="HAPPINESS_IND_CHANNEL" value="WEB" />
    <add key="HAPPINESS_IND_SOURCE" value="LOCAL" />
    <add key="HAPPINESS_IND_SERVICE_DESC" value="DEWA Website" />
    <add key="HAPPINESS_IND_SERVICE_CODE" value="1111" />
    <add key="HAPPINESS_IND_APP_ID" value="DEWA Website" />
    <add key="HAPPINESS_IND_GESS_ENABLED" value="true" />
    <add key="HAPPINESS_IND_APP_TYPE" value="WEBAPP" />
    <add key="HAPPINESS_IND_PLATFORM" value="WINDOWS" />
    <add key="HAPPINESS_IND_APP_URL" value="https://www.dewa.gov.ae" />
    <add key="HAPPINESS_IND_VER" value="1.0" />
    <add key="HAPPINESS_IND_THEME_COLOR" value="#0a7aca" />    
    <add key="Tender_Doc_Repo" value="https://e-services.dewa.gov.ae/Tenders/ShowTenderImage.aspx" />
    <add key="Tender_Payment_Url" value="https://srm.dewa.gov.ae/irj/portal/anonymous" />
    <add key="ENNationalitiesXML" value="E:\www\stagingnew.dewa.gov.ae\content\data\sapcountry-en.xml" />
    <add key="ARNationalitiesXML" value="E:\www\stagingnew.dewa.gov.ae\content\data\sapcountry-ar.xml" />
    <add key="DMS_USERNAME" value="eservices_dms_user" />
    <add key="DMS_PASSWORD" value="dms1234567" />
    <add key="DMS_CONNECTUSERNAME" value="dmextuser" />
    <add key="DMS_CONNECTPASSWORD" value="extmalaf" />
    <add key="DMS_DOCUMENTTYPE" value="correspondence" />
    <add key="PDMS_DOCUMENTTYPE" value="partnership_doc" />
    <add key="DRRG_DOCUMENTTYPE" value="drrg_doc" />
    <add key="DMS_DOCBASE" value="DewaDMS" />
    <add key="ClientId" value="3d63ad34-8b03-4268-87f4-a5161ed31611" />
    <add key="ClientSecret" value="HVP3EVw2OI1gjWUsMdQMWd2XnMMIWDqAHzGJFBub2ak=" />
    <add key="MicrosoftAppId" value="2faee570-c5ce-4ac5-8cd6-2c101e8618a5" />
    <add key="MicrosoftAppPassword" value="agmGGHg12Avuh06T5zA9byO" />
    <add key="AppWebSite" value="https://knowledgebotweb20170827105733.azurewebsites.net/" />
    <add key="JWT.Audience" value="DewaAuth" />
    <add key="JWT.AuthenticationUrl" value="DewaAuth" />
    <!--<add key="BotUrl" value="https://rammasbotuat.azurewebsites.net/api/authentication" />-->
	<add key="BotUrl" value="https://rammas-bot-app-preprod.azurewebsites.net/api/authentication" />
    <add key="Rammas_Proxy_SETTINGS" value="http://myinternet.dewa.gov.ae:80" />
    <add key="Rammas_SSL_SETTING" value="1" />
    <add key="RammasMerchantId" value="RAMMAS" />
    <add key="RammasMerchantPassword" value="RAMMAS" />
    <!--<add key="Rammas_FetchBotState" value="https://rammasbotuat.azurewebsites.net/api/PaymentInitiate/FetchState" />
    <add key="Rammas_EpayRedirect" value="https://rammasbotuat.azurewebsites.net/api/Epay/EpayResponse" />-->
    <add key="Rammas_FetchBotState" value="https://rammas-bot-app-preprod.azurewebsites.net/api/PaymentInitiate/FetchState" />
    <add key="Rammas_EpayRedirect" value="https://rammas-bot-app-preprod.azurewebsites.net/api/Epay/EpayResponse" />
    <add key="Jobseeker_apiKey" value="J581J1qYl0X3l1kAvVXxpxJKAAMs0eaO" />
    <add key="Jobseeker_UserName" value="BBASICS1" />
    <add key="Jobseeker_Password" value="basics123" />
    <add key="Jobseeker_VENDOR_ID_DESKTOP" value="RAMMASVID" />
    <add key="Jobseeker_VENDOR_ID_MOBILE" value="RAMMASVID" />
	<!--New Jobseeker User Id /Pwd added for forgot pwd change-->	
	<add key="Jobseeker_New_UserName" value="WEBSITE" />	
	<add key="Jobseeker_New_Password" value="WEBSITE" />
	<add key="Jobseeker_NEW_VENDOR_ID_DESKTOP" value="WEBSITEID" />
	<add key="Jobseeker_NEW_VENDOR_ID_MOBILE" value="WEBSITEID" />
    <add key="SmartCustAuthen_UserName" value="dsg1wsid" />
    <add key="SmartCustAuthen_Password" value="DEGG@999" />
    <add key="SmartCustAuthen_MerchantId" value="RAMAQUID" />
    <add key="SmartCustAuthen_MerchantPassword" value="IRA83IM83A5DJ42" />
    <add key="Rammas_Proxy_UserName" value="rammasbot" />
    <add key="Rammas_Proxy_Password" value="WTHisthis=2019" />
    <add key="EFORM_MIDDLEWARE_API_USR" value="dewaapi8102" />
    <add key="EFORM_MIDDLEWARE_API_USRPASS" value="0804282018" />
    <add key="PROXYUSER" value="rammasbot" />
    <add key="PROXYPASSWORD" value="WTHisthis=2019" />
    <add key="PROXYDOMAIN" value="DEWA" />
    <add key="PROXYURL" value="http://myinternet.dewa.gov.ae:80/" />
    <add key="QRCodeURL" value="https://api.qa.dewa.gov.ae/hcm/v1/employeeservice/qrcode/qrcodeverified" />
    <add key="RestAPI_Smart_Customer" value="https://api.qa.dewa.gov.ae/smartcustomer/" />
	<add key="RestAPI_Smart_Customer_V3" value="https://api.qa.dewa.gov.ae/v3/smartcustomer/" />
    <add key="RestAPI_Oauth_URL" value="https://api.qa.dewa.gov.ae/tokendispenser" />
    <add key="RestAPI_Client_Id" value="J581J1qYl0X3l1kAvVXxpxJKAAMs0eaO" />
    <add key="RestAPI_Client_Secret" value="NNc3CBmCLdx0akkK" />
    <add key="RestAPI_Grant_Type" value="client_credentials" />
    <add key="RestAPI_Dev_Id" value="adeel.mukhtar@dewa.gov.ae" />
	<add key="YoutubeAPIKey" value="AIzaSyAQV5u47WYcgQY6tGnhK7ijBOOfDNBmPTk" />
<add key="YoutubeDEWAChannelIdEn" value="UCwqM2Kj0TAvbNHpeivY5I-g" />
<add key="YoutubeDEWAChannelIdAr" value="UCwqM2Kj0TAvbNHpeivY5I-g" />
<add key="YoutubeAPIURL" value="https://www.googleapis.com/youtube/v3/" />
<add key="UAEPASS_CLIENT_ID" value="dewa_webportal" />
    <add key="UAEPASS_CLIENT_SECRETID" value="qmReaYGu94BT4QDmhrp6amQU" />
     <add key="UAEPASS_OPENID_ACCESSCODE" value="https://stg-id.uaepass.ae/idshub/authorize?redirect_uri={0}&amp;client_id={1}&amp;response_type=code&amp;state={2}&amp;ui_locales={3}&amp;scope=urn:uae:digitalid:profile&amp;acr_values=urn:safelayer:tws:policies:authentication:level:low" />	
    <add key="UAEPASS_OAUTH_URL" value="https://stg-id.uaepass.ae/idshub/token" />	
    <add key="UAEPASS_USER_INFO" value="https://stg-id.uaepass.ae/idshub/userinfo" />
    <add key="UAEPASS_STATE" value="20AT728ZH19eDuo6roYZ" />
   <add key="UAEPASS_RETURNOAUTHURL" value="https://stagingnew.dewa.gov.ae/consumer/my-account/uaepass/oauthCallback" />
	<add key="UAEPASS_Logout" value="https://stg-id.uaepass.ae/idshub/logout?redirect_uri={0}" />
	<add key="THROTTLEMILLISECONDS" value="2" />
	<add key="THROTTLECOUNT" value="100" />
	<add key="ENCountryCodeXML" value="~/Content/data/countrylist.xml" />
	<add key="ARCountryCodeXML" value="~/Content/data/countrylistar.xml" />
	  <!---Image-->
    <!---Image Uploader-->
    <!--e.g.SourceImgPath : ~/imageuploader/archieved/-->
    <add key="SourceImgPath" value="~/imageuploader/archieved/" />
    <!--e.g.SourceImgPath : ~/imageuploader/optimized/-->
    <add key="DestinationImgPath" value="~/imageuploader/optimized/" />
    <add key="EnableArchiveFileDeletion" value="true" />
    <add key="EnabledReportTest" value="true" />
    <add key="ImageExtension" value=".jpg,.jpeg,.png,.bmp" />
    <add key="BaseOptimizeUnitPercent" value="20" />
	<add key="SMART_RESPONSE_JSON_PATH" value="~/@SmartResponseAssest/SmartResponse.json"/>
  <add key="SMART_RESPONSE_UPLOADPATH" value="~/temp/sm_file"/>
  <add key="SM_DISBABLELOGIC" value="1"/>
   <add key="SM_PREDICT_API" value="https://api.qa.dewa.gov.ae/v1/ai/predict"/>
  <add key="SM_PREDICT_APIKEY" value= "ZeG6xurGwsKemDpvglAGUvErIA3cAgmG"/>
  
  <!---Corporate Portal-->
    <add key="DCTM_SmartOffice_UN" value=""/>
    <add key="DCTM_SmartOffice_PWD" value=""/>
    <add key="DCTM_SmartOffice_SSL_SETTING" value="0"/>
	<add key="CPPORTAL_USERID" value="cp_user" />
	<add key="CPPORTAL_PWD" value="womgLFnDXz8eKYAGjXsQeG72KrfEmWuh4JeY44QBKiA4pfWme2FD9zRYrVWGD9Ce6t3QlN7dLsnDV89J9yk/Az8o1EdbT74G00ar7Wl8k+Tb2FjfshHckdsuRtDQ4Aonru5nVN6kLa3k0wNEiGayj0Dj7uJ9RE6+I54AUmVgNRt/XMsKOC6y6Fq4YAEnx1CP50Z9SFnyV09Insq3qhkZ7fC1GLhrrBdBOgRdvR2BGFlfyyyzmFUIjAJEoS7Zm9OObYLm338Hz1YuO7Pqb38WLpbQVlGaO+eqbhRNj23Aoe+CkBBI13w97FIVviFC11UBVkzfe27TOSSBHgKr1DV7ZQ=="/>
  	<add key="CPPORTAL_REPOSITORY" value="SMARTDMS" />
	
<add key="CMorCD" value="CD"/>
 <!--EPASS-->
     
	<add key="RestAPI_Oauth_URL_Epass" value="https://api.qa.dewa.gov.ae/tokendispenser" />	
    <add key="RestAPI_Client_Id_Epass" value="J581J1qYl0X3l1kAvVXxpxJKAAMs0eaO" />	
    <add key="RestAPI_Client_Secret_Epass" value="NNc3CBmCLdx0akkK" />	
	<add key="RestAPI_Dev_Id_Epass" value="adeel.mukhtar@dewa.gov.ae" />
    <add key="EPASS_REPOSITORY" value="DewaDMS" />
	<add key="EPASS_USERID" value="epass_user" />
	<add key="EPASS_PWD" value="womgLFnDXz8eKYAGjXsQeG72KrfEmWuh4JeY44QBKiA4pfWme2FD9zRYrVWGD9Ce6t3QlN7dLsnDV89J9yk/Az8o1EdbT74G00ar7Wl8k+Tb2FjfshHckdsuRtDQ4Aonru5nVN6kLa3k0wNEiGayj0Dj7uJ9RE6+I54AUmVgNRt/XMsKOC6y6Fq4YAEnx1CP50Z9SFnyV09Insq3qhkZ7fC1GLhrrBdBOgRdvR2BGFlfyyyzmFUIjAJEoS7Zm9OObYLm338Hz1YuO7Pqb38WLpbQVlGaO+eqbhRNj23Aoe+CkBBI13w97FIVviFC11UBVkzfe27TOSSBHgKr1DV7ZQ=="/>
      <add key="Gatepass_UN" value="DEWAGPUser01" />
	  <add key="Gatepass_PWD" value="oY90yGATE@4Pax45LOz" />
	<!-- Graph -->
	<add key="GraphAPI_Smart_Meter" value="https://api.qa.dewa.gov.ae/v2/smartmeter" />
	<!-- /Graph-->
  
	<!-- IronpDF lincese key-->
	<add key="IronPdf.LicenseKey" value="IRONPDF-1730674C11-115476-113C37-5E482FBAC5-1CB541B9-UEx89922AE258668D8-ORG.5DEV.1YR.SUPPORTED.UNTIL.02.OCT.2020"/>
	
 <!-- <add key="directline_secret" value="Bearer zWeIijZ-R_c.EZYCHNxJSB3PbFGFejJiZH5MzCaHjVZvv3sADBjMWsw"/> -->
 <add key="directline_secret" value="Bearer bJbE9OyVMko.gAReiVy06uLBwd7hfPPsTOejpR-efBQ3Ce4Ub4V4eKU"/>
  <add key="conversationUri" value="https://directline.botframework.com/v3/directline/conversations"/>
  <add key="activityUri" value="https://directline.botframework.com/v3/directline/conversations/{0}/activities{1}"/>
  <add key="validateDirectLineUri" value="https://rammas-bot-app-preprod.azurewebsites.net/api/AuthenticateDirectline/ValidateDirectline"/>  
  <add key="refreshTokenUri" value="https://directline.botframework.com/v3/directline/tokens/refresh" />
  <!-- Noqodi Pay URL -->
  <add key="NoqodiPAY_URL" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/NoqodiPay.DewaNoqodiGateway?rd=dewastg1" />
  <add key="NoqodiPAY_URL_DEWA" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/NoqodiPay.DewaNoqodiGateway?rd=dewastg1" />

	<add key="Kadamtech_DEWA_Username" value="gatepass.user"/>
	<add key="Kadamtech_DEWA_Password" value="123"/>
	<!--DEWA STORE-->
  <add key="DEWASTORE_URL" value="https://api.qa.dewa.gov.ae/v1/dewastores/" />
  
  	<add key="CCR_JSON_PATH" value="~/@SmartResponseAssest/ConsumptionVerification-insights.json"/>
	<add key="CCR_UPLOADPATH" value="~/temp/sm_file"/>
	<add key="CCR_DISBABLELOGIC" value="1"/>
	<add key="CCR_PREDICT_API" value="https://api.qa.dewa.gov.ae/v1/ai/predict"/>
	<add key="CCR_PREDICT_APIKEY" value= "ZeG6xurGwsKemDpvglAGUvErIA3cAgmG"/>
	<add key="dtmc_desktop_vendor" value="W"/>
  <add key="dtmc_mobile_vendor" value= "M"/>
  
  
  
    <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="6114FE0E5D4B257CBF8F5B24DBFAA2BC18B0F6633526D35DC9F459166BFB9F59AF6D8C9DEA2BBD11E0D58C27C34F0F9785D903DE2B617FC7CFFE400A4936150D" />
    <add key="Telerik.Upload.ConfigurationHashKey" value="870DD473930EABAAE3DFD1053FD35BD5A842EFC1594C6A29BB0B7F66B9F1DE08C1655378C025EFA2BF6047441517D799CAF5668AFEC3D38AC53F8DF01791E42A" />
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="DC9051BAAF336CF974C312E106A217CDBFC9C2BB6E882490FC44AADEA842EDE2F4CA6DEDF112BB41317FC41DA9B3586E5CB0EB9573CA03456CB9990246324D7D" />
  
  <!--Start Rest Api Urls-->
  <add key="SmartCustomerV3_ApiUrl" value="https://api.qa.dewa.gov.ae/v3/smartcustomer/" />
  <add key="DestMapMakerImage" value="~/temp/content/map-marker.png"/>
  <add key="SmartMeterV2_ApiUrl" value="https://api.qa.dewa.gov.ae/v2/smartmeter/" />
  <!--End Rest Api Urls-->
  <!--SMART CONSULTANT-->
  <add key="DEWASMARTCONSULTANT_URL" value="https://api.qa.dewa.gov.ae/v2/smartconsultant/" />
  <!-- Kraken API -->
  <add key="KrakenKey" value="74fcecd6ad15be8d65c59e673e86def2"/>
  <add key="KrakenSecret" value="975305953bfafdca2006bd4595ff18b0c23f42b1"/>
 <add key="chatHost" value= "wss://dewaserv6645.dewa.gov.ae/services/customer/chat"/>	
  <add key="chatStore" value = "wss://dewaserv6638.dewa.gov.ae/services/OceanaCoreDataService/oceana/data/" />	
  <add key="chatInitUrl" value = "https://dewaserv6638.dewa.gov.ae/services/OceanaCoreDataService/oceana/data/context/schema" />	
  <add key="estimatedWaitTimeUrl" value = "https://dewaserv6645.dewa.gov.ae/services/CustomerControllerService/gila/ewt/request" />	
  <add key="fileDownloadUrl" value= "https://dewaserv6645.dewa.gov.ae/services/customer/rest/attachment/{0}?workRequestId={1}"/>	
  <!--<add key="coBrowseHost" value="10.15.131.179" />-->	
  <add key="coBrowseHost" value="dewaserv6650.dewa.gov.ae" />	
   
  <add key="Qms_WsAuth_Username" value="WSTester" />
  <add key="Qms_WsAuth_Pwd" value="5495128855d5969240dd0821c8d5953aa513f085a5d08172780ad5781ecdf7ef" />
   <!--EV Locations-->
  <add key="DEWAEVLOCATIONS_URL" value="https://api.qa.dewa.gov.ae/v1/evcs/api/" />
  
  
  
  <!--START: MIMI PAYMENT KEY-->
  <add key="SECURED_EASY_PAYURL" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/Epay5.DewaEpayGateway"/>
  <add key="SECURED_NOQODI_PAYURL" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/NoqodiPay.DewaNoqodiGateway"/>
  <add key="SECURED_EmiratesNBD_PAYURL" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/dewa.gov.ae~enbdpyt.ENBDPayment"/>
  <add key="SECURED_UAEPGS_PAYURL" value="https://portaltest.dewa.gov.ae/irj/servlet/prt/portal/prtroot/dewa.gov.ae~uaepgsred.Uaepgs"/>
  <add key="SECURED_PAYURL_REDIRECT" value="dewastg2"/>
  <add key="SECURED_MIM_ENABLED" value="1"/>
  <!--END: MIMI PAYMENT KEY-->
  <!-- DEWA Web API-->
  <add key="DEWAWebApiURL" value="https://dewawebservices.dewa.gov.ae/dewa.webapi/" />
  <add key="DEWAWebApiUserName" value="DEWA@2019@api" />
  <add key="DEWAWebApiPassword" value="@p!7357" />
  
  <add key="RestAPIUrl_SmartDubai" value="https://api.qa.dewa.gov.ae/smartdubai/"/>
  <add key="ALEXA_URL" value="https://api.qa.dewa.gov.ae/v1/oauth/authorizationcode?client_id={0}&amp;response_type={1}&amp;scope={2}&amp;state={3}&amp;userid={4}&amp;sessionid={5}&amp;redirect_uri={6}"/>
  <add key="ALEXA_API_KEY" value="m11CNEwyPXYg2vygZ9RkYlgKSxSRGTf8"/>
  <add key="ALEXA_LOGIN_URL" value="https://api.qa.dewa.gov.ae/v1/oauth/userauth/loginsession"/>
  
  <!-- Twitter API for ConservationAward -->
  <add key="TwitterSearchQuery" value="q=%23جائزة_الترشيد OR %23ConservationAward"/>
  <add key="ConsumerKey" value="WZVCOZc7Jt10Zzgdf3GvAywEq"/>
  <add key="ConsumerSecret" value="dw72ZbdqjbVQFYTdmmEJIJtATck5iCKNNuAG9pMnQccNy2D6XS"/>
  <add key="TwitterToken" value="2158691906-NjBDAC6gFIYXAEEFG50oLlNVNqBrzpxXCplstw6"/>
  <add key="TwitterTokenSecret" value="a6qmKvfMAAu0kofjplE98nq7pdNStyj2nsoUJc6bsiIHC"/>
  <add key="InitialSinceId" value="1425054213541928969" />
  <add key="DEWAScholarship_ApiUrl" value="https://api.qa.dewa.gov.ae/hcm/v2/education/scholarship" />
  <add key="DEWASMARTVENDOR_URL" value="https://api.qa.dewa.gov.ae/v2/smartvendor/" />	
  <add key="DEWASMARTUSER" value="https://api.qa.dewa.gov.ae/v3/users/" />	
  <add key="SmartBooking_ApiUrl" value="https://api.qa.dewa.gov.ae/v1/smartbooking/" />	
  <add key="JobseekerV2_ApiUrl" value="https://api.qa.dewa.gov.ae/v2/jobseekers/" />	
    <add key="SmartSurveyURL" value="https://apidev.dewa.gov.ae/v1/smartsurvey/" />
	<add key="NBDPay_ApiUrl" value="https://api.qa.dewa.gov.ae/v1/nbdpay" />
      <add key="EmailReminder.FromAddress" value="name@server.net" />
    <!-- NetSpell directory -->
    <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
    <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <!-- Telerik keys -->
    <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="JJjd4cRrceC5nFIs9n6sNpxCwnvQr6f3sZLRePOLNmX3rb4xjannxllp3xKbhfJheyByjaKNUq0K39Of63mPA4A4fW7D8SG1KJZladcD4nt8VFBwR3TiKNlfqOa9Fbt5hL1QMUDkniq91evAHH1nqXgXwCnBgDgkr2GEAyfavpEmIl0NFQksYuS1DR7ncHMuqMdBEy4iNDhDbpQe78m6K4t5B04QsMyQIrcF5ubDxqVkyvVX7fguCKqhGAIOZ4rA" />
    <add key="Telerik.Upload.ConfigurationHashKey" value="JJjd4cRrceC5nFIs9n6sNpxCwnvQr6f3sZLRePOLNmX3rb4xjannxllp3xKbhfJheyByjaKNUq0K39Of63mPA4A4fW7D8SG1KJZladcD4nt8VFBwR3TiKNlfqOa9Fbt5hL1QMUDkniq91evAHH1nqXgXwCnBgDgkr2GEAyfavpEmIl0NFQksYuS1DR7ncHMuqMdBEy4iNDhDbpQe78m6K4t5B04QsMyQIrcF5ubDxqVkyvVX7fguCKqhGAIOZ4rA" />
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="JJjd4cRrceC5nFIs9n6sNpxCwnvQr6f3sZLRePOLNmX3rb4xjannxllp3xKbhfJheyByjaKNUq0K39Of63mPA4A4fW7D8SG1KJZladcD4nt8VFBwR3TiKNlfqOa9Fbt5hL1QMUDkniq91evAHH1nqXgXwCnBgDgkr2GEAyfavpEmIl0NFQksYuS1DR7ncHMuqMdBEy4iNDhDbpQe78m6K4t5B04QsMyQIrcF5ubDxqVkyvVX7fguCKqhGAIOZ4rA" />
    <!-- Throttle concurrent requests per session specifies how many requests with same Session ID are allowed to be executed simultaneously. -->
    <add key="aspnet:RequestQueueLimitPerSession" value="10000" />
    <!-- SUPPORTED SERVER ROLES     
         Specify the roles that you want this server to perform. A server can perform one or more roles. Enter the roles in a comma separated list. The supported roles are:

         ContentDelivery
         ContentManagement
         ContentDelivery, Indexing
         ContentManagement, Indexing
         Processing
         [Obsolete] Reporting
         Standalone
          
    Default value: Standalone
    -->
    <add key="role:define" value="ContentDelivery" />
    <!-- SUPPORTED SEARCH PROVIDERS     
         Specify the search provider that you want this server to use. The supported search providers are:
    
         Solr
    
    Default value: Solr
    -->
    <add key="search:define" value="Solr" />
    <!-- SUPPORTED MEMBERSHIP CONFIGURATION FOR CONTENT DELIVERY
         Specify the membership configuration that you want this server to use for Content Delivery role. The supported options are:

         Sitecore
         None
          
    Default value: Sitecore
    -->
    <add key="security:define" value="Sitecore" />
    <add key="owin:appStartup" value="Sitecore.Owin.Startup, Sitecore.Owin" />
    <add key="messagingTransport:define" value="SQL" />
    <add key="marketingDefinitionsAssignment:define" value="Both" />
    <add key="eds:define" value="CustomSMTP" />
    <add key="exmEnabled:define" value="yes" />
    <add key="AllowInvalidClientCertificates" value="true" />
  </appSettings>