@using Sitecore.Globalization
<div class="j105-drrg">
    <div class="m66-preloader j105-drrg--loader hidden">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function beforesendfnc() {
        jQuery('.j105-drrg--loader').show();
        jQuery("#charger-error").html("");
        jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
        jQuery('body').removeClass('unscrollable').addClass('unscrollable');
    }
    function completefunc() {
        jQuery('.j105-drrg--loader').hide();
        jQuery('body').removeClass('unscrollable');
    }

</script>