@using Sitecore.Globalization
@using Sitecore.Mvc
@model decimal

@if (Model > 0)
{
    <div class="m40v2-status-message m40v2-status-message--donation" data-component="m40-status-message">
        <div class="m40v2-status-message__title_wrapper">
            <div class="m40v2-status-message__title"><strong>@Translate.Text("Donated to UAE Water Aid Foundation")</strong> </div>
            <div class="m40v2-status-message__title_span" data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")" style="font-weight:bold">@Model</div>
        </div>
        <div class="m40v2-status-message__text">
            @Translate.Text("Donation Thank you")
        </div>
    </div>
}