<style type="text/css">
    .rammas .m39-modal__container {
        display: none;
    }

        .rammas .m39-modal__container.m39-modal__container--active {
            display: inherit;
        }

    .rammas .m39-modal__trigger {
        text-align: right !important;
    }

    .white-gr .rammas {
        float: right;
        padding-right: 10px;
        padding-bottom: 10px;
        position: fixed;
        right: 0;
        width: 170px;
        height: 61px;
        bottom: 0;
        z-index: 999;
    }

        .white-gr .rammas img {
            width: 150px;
        }

    [dir="rtl"] .rammas .en {
        display: none;
    }

    [dir="ltr"] .rammas .ar {
        display: none;
    }

    #outerdiv {
        max-height: 97%;
        height: 100%;
    }

    #innerdiv {
        height: 100%;
    }

    .h-rammas {
        height: 50px;
        background: #37AA33;
        text-align: center;
        padding-top: 16px;
        position: absolute;
        width: 100%;
    }

    #topNavBar-height {
        display: none !important;
    }

    .rammas .navbar-default {
        display: none !important;
    }

    [dir="rtl"] .h-rammas .h-r-en {
        display: none;
    }

    [dir="ltr"] .h-rammas .h-r-ar {
        display: none;
    }

    .rammas .m39-modal__button--close {
        color: #fff;
    }

    .botHighlightColor {
        background-color: #fff !important;
    }

    .rammas iframe {
        padding-top: 10px;
    }

    @@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
        #innerdiv {
            max-height: 553px;
            height: 97%;
        }

        .rammas .m39-modal__dialog {
            max-height: 560px;
        }
    }

    @@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .rammas .m39-modal__dialog {
            max-height: 530px;
        }

        #outerdiv {
            max-height: 520px;
            height: 100%;
        }
    }
</style>
<!--[if IE]>
    <style type="text/css">
        .m39-modal__trigger {display:none;}
    </style>
<![endif]-->


<div class="white-gr">
    <div class="m39-modal rammas" id="modal_rammas">
        <a href="https://www.dewa.gov.ae/rammas" target="_blank" data-trigger="true" class="m39-modal__trigger" data-backdrop="static">
            <img src="/images/Rammas/chat-rammas@2x.png" alt="" width="140px" class="en">
            <img src="/images/Rammas/chat-rammas-ar@2x.png" alt="" width="137px" class="ar">
        </a>
    </div>

    @*<div class="m39-modal rammas" data-component="m39-modal" data-backdrop="static"  data-keyboard="false" id="modal_rammas">

            <div data-content="true" class="m39-modal__container" role="dialog" tabindex="-1" data-backdrop="static" aria-expanded="false" data-time-delay="3000">
                <div class="m39-modal__dialog">
                    <button data-close="true" id="rammas-close" style="margin-top:-5px;margin-right: 10px;" class="m39-modal__button--close"></button>
                    <div class="m39-modal__content" data-backdrop="static" data-keyboard="false" style="top:0; bottom:0; padding:0;">
                        <div id="outerdiv">
                            <div class="h-rammas">
                                <img src="/images/Rammas/rammas-chat-white.png" width="123px" alt="Rammas Chat icon white" class="h-r-en">
                                <img src="/images/Rammas/rammas-chat-white-ar.png" width="159px" alt="Rammas Chat icon white" class="h-r-ar">
                            </div>
                            <div id="innerdiv">
                                <iframe src="@ViewData["rammasurl"]" style="width: 100%;height: 100%;"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@
</div>