@using Sitecore.Data.Items
@using Glass.Mapper.Sc
@model DEWAXP.Feature.ChatBot.Models.Rammas.RammasModel

    @if ((ViewBag.RammasLogin != null && ViewBag.RammasLogin == true) || (ViewBag.RammasParam != null && ViewBag.RammasParam == "rammas"))
    {
        <div class="m55-rammas--input-bg">
            <div class="m55-rammas--input-bg--wrapper">
                <a href="@Model.RammasLink.Url" class="m55-rammas--back-button icon-back button button--text">@Model.Title</a>
                <div id="idCloseRammas" class="m55-rammas--close-button m55-rammas-active--close-button icon-cancel">@Model.Close</div>
            </div>
        </div>
    }
    <script>
        $(document).on('click', '#idCloseRammas', function (e) {
            try {
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "api/sitecore/Rammas/RammasClose",
                    cache: false,
                    success: function (response) {
                    },
                    error: function (error) {
                        //console.log("Error:" + error);
                    }
                });

            } catch (e) {
            }
        });
    </script>