@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Media.Video

<div class="grid__row">
    <div class="m36-video-player">
        <iframe width="100%" height="100%" src="@Model.Source" frameborder="0" allowfullscreen title="@Translate.Text("Video Title")"></iframe>
    </div>
</div>
