@using DEWAXP.Foundation.Helpers.Extensions;
@model DEWAXP.Feature.CommonComponents.Models.Media.VideoFolder

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            
            <div class="m47-video-gallery rs_preserve" data-component="m47-video-gallery">
                <div class="m47-video-gallery__videoplayer-container">
                    <div class="m47-video-gallery__videoplayer" id="player"></div>
                </div>
                <div class="ie8_spacer"></div>
                <div class="m47-video-gallery__thumb-gallery-container">
                    <div class="m47-video-gallery__thumb-gallery--inner">
                        <div class="m47-video-gallery__thumb-gallery--track">
                            @{
                                var counter = 0;
                            }
                            @foreach (var video in Model.Children)
                            {
                                var VideoId = Html.GetYoutubeVideoId(video.Source);
                                <div class="m47-video-gallery__thumb-gallery-slide tooltip_pos" data-index="@counter" data-videoid="@VideoId" title="@video.Description">
                                    <div class="m47-video-gallery__thumb-gallery-slide-inner">
                                        <div data-src="http://img.youtube.com/vi/@VideoId/hqdefault.jpg" class="m47-video-gallery__thumb-gallery-slide-image">
                                        </div>
                                    </div>
                                </div>
                                counter++;
                            }

                        </div>
                    </div>
                </div>
            </div>
            <!-- m47-video-gallery-end -->

        </div>
    </div>
</div>