@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model DEWAXP.Feature.CommonComponents.Models.Renderings.YoutubeVideoPlaylists

@if (!string.IsNullOrWhiteSpace(Model.Header))
{
    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", Model)
}

@if (Model.Playlists.HasAny())
{
    <div class="grid__row">
        @foreach (var group in Model.Playlists)
        {
            <div class="grid__column grid__column--3">
                @Html.Partial("~/Views/Feature/CommonComponents/Renderings/VideoComponent/VideoPlaylistInfo.cshtml", group)
            </div>
        }
    </div>
}
else
{
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Translate.Text("There are no related videos.")
        </div>
    </div>
}

