<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <SendEmail role:require="Standalone or ContentManagement or DedicatedDispatch">
        <processor patch:before="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.SendEmail, Sitecore.EmailCampaign.Cm']"
                   type="DEWAXP.Feature.FormsExtensions.SubmitActions.SendEmail.FileAttachment.AttachFileUploadProcessor, DEWAXP.Feature.FormsExtensions" resolve="true" />
      </SendEmail>

      <forms.renderForm>
        <processor patch:before="*[1]" type="DEWAXP.Feature.FormsExtensions.SubmitActions.ShowFormPage.ShowFormPageNavigationLoader, DEWAXP.Feature.FormsExtensions" resolve="true" />
        <processor patch:before="*[1]" type="DEWAXP.Feature.FormsExtensions.ValueProviderConditions.ValueProviderConditionsChecker, DEWAXP.Feature.FormsExtensions" resolve="true" />
      </forms.renderForm>

      <forms.renderFields>
        <processor patch:after="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderFields.RenderChildFields, Sitecore.ExperienceForms.Mvc']" type="DEWAXP.Feature.FormsExtensions.Fields.JavascriptLoader, DEWAXP.Feature.FormsExtensions" resolve="true" />
      </forms.renderFields>

      <forms.executeSubmit>
        <processor patch:before="*[1]"
                   type="DEWAXP.Feature.FormsExtensions.Fields.ReCaptcha.RecaptchaExecutedValidation, DEWAXP.Feature.FormsExtensions" resolve="true" />
        <processor patch:after="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.ExecuteActions, Sitecore.ExperienceForms.Mvc']"
                   type="DEWAXP.Feature.FormsExtensions.ValueProviders.StoreFieldBindingValues, DEWAXP.Feature.FormsExtensions" resolve="true" />
      </forms.executeSubmit>

      <formsextensions.getStringValueFromViewModel>
        <processor type="DEWAXP.Feature.FormsExtensions.Fields.ValueResolvers.StringValueFromStringInputViewModelReader, DEWAXP.Feature.FormsExtensions" />
        <processor type="DEWAXP.Feature.FormsExtensions.Fields.ValueResolvers.StringValueFromStringListInputViewModelReader, DEWAXP.Feature.FormsExtensions" />
        <processor type="DEWAXP.Feature.FormsExtensions.Fields.ValueResolvers.StringValueFromDateTimeInputViewModelReader, DEWAXP.Feature.FormsExtensions" />
        <processor type="DEWAXP.Feature.FormsExtensions.Fields.ValueResolvers.StringValueFromBooleanInputViewModelReader, DEWAXP.Feature.FormsExtensions" />
        <processor type="DEWAXP.Feature.FormsExtensions.Fields.ValueResolvers.StringValueFromStoredFileInputViewModelReader, DEWAXP.Feature.FormsExtensions" />
        <processor type="DEWAXP.Feature.FormsExtensions.Fields.ValueResolvers.StringValueFromDoubleInputViewModelReader, DEWAXP.Feature.FormsExtensions" />
      </formsextensions.getStringValueFromViewModel>

    </pipelines>
  </sitecore>
</configuration>