<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <forms.renderForm>
        <processor patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.InitializeAjaxOptions, Sitecore.ExperienceForms.Mvc']"
                   type="DEWAXP.Feature.FormsExtensions.Pipelines.InitFormAdditionalOptions, DEWAXP.Feature.FormsExtensions">
        </processor>
      </forms.renderForm>
    </pipelines>
  </sitecore>
</configuration>